<section class="inner-intro bg-img24 overlay-dark light-color parallax parallax-background2">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Pricing</h2>
            <div class="page-breadcrumb">
                <a>Home</a>/<span>Pricing</span>
            </div>
        </div>
    </div>
</section>

        <div class="clearfix"></div>
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container text-center">
                <h3>Pricing Table</h3>
                <div class="spacer-60"></div>
                <% @plans.in_groups_of(3, false) do |plans| %>
                    <div class="row">
                        <% plans.each do |plan| %>
                            <%= render partial: plan, locals: { plan: plan } %>
                        <% end %>
                    </div>
                     <div class="spacer-60"></div>
                <% end %>
            </div>
        </section>
        <!-- End Pricing Section -->