<% unless @categories_menu.nil? %>
  <% @categories_menu.each do  |category_item| %>
     <li>
     <a><%= category_item.name %></a>
     <ul class="nav-dropdown">
     <% category_item.content_items.each do |ci| %>
          <% if ci.visible? %>
               <li>
              <%= link_to ci.title, ci %>
              </li>
          <% end %>    
     <% end %>
     </ul>
     </li>
  <% end %>
<% end %>

 