<!-- FOOTER -->
        <footer class="footer pt-80">
            <div class="container">
                <div class="row mb-60">
                    <!-- Logo -->
                    <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                        <a class="footer-logo" href="home.html">
                            <img src="/assets/logo-black.png" /></a>
                    </div>
                    <!-- Logo -->

                    <!-- Newsletter -->
                    <div class="col-md-4 col-sm-5 col-xs-12 mb-xs-30">
                        <div class="newsletter">
                            <form>
                                <input type="email" class="newsletter-input input-md newsletter-input mb-0" placeholder="Enter Your Email">
                                <button class="newsletter-btn btn btn-xs btn-white" type="submit" value=""><i class="fa fa-angle-right mr-0"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- End Newsletter -->

                    <!-- Social -->
                    <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12">
                        <ul class="social">
                            <li><a target="_blank" href="https://twitter.com/espcop"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/espcop"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <!--Footer Info -->
                <div class="row footer-info mb-60">
                    <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                        <p class="mb-xs-0">Founded in feb 2009 in Bruges this society is intended for all European Anaesthesiologist active with obese patients. It is staying open also for Non European and non anesthetist physicians.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                        <ul class="link">
                            <%= render partial:"partials/footer_menu" %>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                        <h4>Allied Societies</h4>
                        <ul class="link">
                            <li><a href="http://www.ispcop.org/" target="_blank">ISPCOP</a></li>
                            <li><a href="http://www.sobauk.com/" target="_blank">SOBA</a></li>
                            <li><a href="http://www.euroanaesthesia.org/" target="_blank">ESA</a></li>
                            <li><a href="http://www.ifso.com/" target="_blank">IFSO</a></li>
                            <li><a href="http://www.asahq.org/" target="_blank">ASA</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <p>Sint Jan Brugge-Oostende, Ruddershove 10, 8000 Brugge, Belgium
</p>
                        <ul class="link-small">
                            <li><a href="mailto:info@espcop.com"><i class="fa fa-envelope-o left"></i>info@espcop.com</a></li>
                            <li><a><i class="fa fa-fax left"></i>Fax: 00 32 50 45 28 99</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Footer Info -->
            </div>

            <hr />

            <!-- Copyright Bar -->
            <section class="copyright ptb-60">
                <div class="container">
                    <p class="">
                        © 2016 <a><b>ESPCOP</b></a>. All Rights Reserved.</a>
                    </p>
                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->