<!-- Team Grid Box Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <h3>ESPCOP BOARD</h3>
                </div>
                <div class="spacer-60"></div>
                <div class="row">
                    <!-- Team Box -->
                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-1.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Luc De Baerdemaeker, MD PhD</h5>
                                        <p>Department of Anaesthesiology
UZGent
De Pintelaan 185
9000 Gent, Belgium</p>
                                        <ul class="social">
                                            <li><a href="mailto:luc.debaerdemaeker@ugent.be"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Luc De Baerdemaeker, MD PhD</h5>
                                <p class="">President</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-2.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Mike Margarson, MD, FRCA, FFICM, Dipl ICM (UK)</h5>
                                        <p>Consultant Anaesthetist & Director of Critical Care
St RIchard’s Hospital, Chichester PO19 6SE</p>
                                        <ul class="social">
                                           <li><a href="mailto:m.margarson@nhs.net"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Mike Margarson, MD, FRCA, FFICM, Dipl ICM (UK)</h5>
                                <p class="">Vice-President</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-3.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Jan Paul Mulier, MD PhD</h5>
                                        <p>
Department of Anaesthesiology
Sint Jan Brugge-Oostende
Ruddershove 10
8000 Bruges, Belgium</p>
                                        <ul class="social">
                                            <li><a href="mailto:jan.mulier@azbrugge.be"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Jan Paul Mulier, MD PhD</h5>
                                <p class="">Past President & Treasurer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-4.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Daniela Godoroja, MD</h5>
                                        <p>
<a href="http://www.ponderas.ro">Ponderas Hospital, Centre of Excellence for Bariatric and Metabolic Surgery
Bucharest Romania
</a>
Assistant Professor,
University of Medicine and Pharmacy Carol Davila, Bucharest</p>
                                        <ul class="social">
                                            <li><a href="mailto:daniela.godoroja@espcop.org"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Daniela Godoroja, MD</h5>
                                <p class="">Secretary & IT Officer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-1.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Paolo Pelosi, MD, PhD,</h5>
                                        <p>Professor in Anaesthesiology and Intensive Care Medicine,
University of Insubria, Varese, Italy</p>
                                        <ul class="social">
                                         
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Paolo Pelosi, MD, PhD,</h5>
                                <p class="">Vice President for Research</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-2.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Tomasz Gaszynski,MD, PhD</h5>
                                        <p>Professor of Anaesthesia
Medical University of Lodz, Poland</p>
                                        <ul class="social">
                                            
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Tomasz Gaszynski,MD, PhD</h5>
                                <p class="">Vice President for Research</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="assets/team/people-3.jpg" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        <h5>Yigal Leykin, MD PhD</h5>
                                        <p>Chairman Anaesthesia and Intensive Care
Santa Maria degli Angeli Hospital
Via Montereali 24
33170 Pordenone, Italy</p>
                                        <ul class="social">
                                            <li><a href="mailto:yigal.leykin@aopn.fvg.it"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item-info">
                                <h5>Yigal Leykin, MD PhD</h5>
                                <p class="">Honorary Member</p>
                            </div>
                        </div>
                    </div>

                   
                    <!-- End Team Box -->
                </div>
            </div>

        </section>
        <!-- End Team Grid Box Section -->
        <!-- End CONTENT ------------------------------------------------------------------------------>
