

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section class="inner-intro bg-img8 light-color overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Contact Us</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Contact</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->


        <!-- Contact Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3>Get In Touch</h3>
                        <p class="lead"> Founded in feb 2009 in Bruges this society is intended for all European Anaesthesiologist active with obese patients. It is staying open also for Non European and non anesthetist physicians.</p>
                    </div>
                </div>
                <div class="spacer-75"></div>
                <div class="row">
                    <div class="col-md-5 contact">
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h6>Address</h6>
                            <p>
                               Sint Jan Brugge-Oostende,
Ruddershove 10,
8000 Brugge, Belgium
                            </p>
                            <a href="mailto:info@espcop.com"><i class="fa fa-envelope-o left"></i>info@espcop.com</a><br />
                            <a><i class="fa fa-fax left"></i>Fax: 00 32 50 45 28 99</a>
                        </div>
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                            <h6>Business Hours</h6>
                            <p>
                                <span>Mon - Fri: 10am to 6pm</span>
                                <br />
                                <span>Sat : Closed</span>
                            </p>
                        </div>
                        <div class="contact-box-left mb-45">

                            <h6>Follow Us</h6>
                            <ul class="list-none social">
                                <li><a target="_blank" href="https://twitter.com/espcop"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/espcop"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <!-- Contact FORM -->
                        <form class="contact-form" id="contact" role="form">

                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->

                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Your Name" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Email" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Subject">
                            </div>

                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Your Message" required></textarea>
                            </div>

                            <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit" >Send Message</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->

        <!-- Map Section -->
        <section class="map">
            <div id="map"></div>
        </section>
        <!-- Map Section -->
<script type="text/javascript">
$(document).ready(function() {
    $('#form-submit').click(function() {
        $('#contact').attr('action',
                       'mailto:info@espcop.org?subject=' +
                       $('#form-subject').val() + '&body=' + $('#form-message').val());
        $('#contact').submit();
    });
});

</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkNDCoqqePVRdMLZ2OJt3CKCJE0llYb6A"></script>
    <script type="text/javascript" src="assets/map.js"></script>
    <script src="assets/contact-form.js" type="text/javascript"></script>
 